<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression</title>
</head>
<body>
    <h1 style="text-align: center;">Predict GPA</h1>

    <form
    action="/predict"
    method="post">
    <div class="mb-3">
        <label for="">SAT Score</label>
        <input
        name="sat_score"
        type="text"
        class="form-control">
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Predict</button>
    </div>

    </form>
</body>
</html>